1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [4]:
l1 = [1,2,3,4,5,6,7,8]
sum = 0
for i in l1:
  sum = sum + i
print(sum)

36

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [5]:
s1 = "hello"
s2 = ""
for i in s1:
  s2 = i + s2
print(s2)

olleh

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [6]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  return fact

factorial(6)

720

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [7]:
a = 6
for i in range(1,11):
  print(a,'X',i,'=',a*i)

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [8]:
l2 = [1,2,3,4,5,6,7,8,9]
even = 0
odd = 0
for i in l2:
  if i % 2 == 0:
    even = even + 1
  else:
    odd = odd + 1
print("Even numbers: ",even)
print("Odd numbers: ",odd)

Even numbers:  4
Odd numbers:  5


7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [9]:
for i in range(1,6):
  print(i**2)

1
4
9
16
25

8. Create a program to find the length of a string without using the `len()` function.

In [10]:
length = 0
s1 = "hello"
for i in s1:
  length = length + 1
print(length)

5

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [11]:
l3 = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in l3:
  sum = sum + i
print(sum/len(l3))

5.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [12]:
def fibonacci(n):
  a = 0
  for i in range(1,n+1):
    b = a + i
    a = i
    print(b)
fibonacci(10)

1
3
5
7
9
11
13
15
17
19

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [13]:
l4 = [1,2,3,4,5,6,7,8,9,1]
def duplicate(l4):
  for i in l4:
    if l4.count(i) > 1:
      return True
  return False

duplicate(l4)

True


12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [14]:
for i in range(1,100):
  if i > 1:
    for j in range(2,i):
      if i % j == 0:
        break
    else:
      print(i,',',end='')

2 ,3 ,5 ,7 ,11 ,13 ,17 ,19 ,23 ,29 ,31 ,37 ,41 ,43 ,47 ,53 ,59 ,61 ,67 ,71 ,73 ,79 ,83 ,89 ,97 ,

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [15]:
s2 = "hello"
vowels = ['a','e','i','o','u']
count = 0
for i in s2:
  if i in vowels:
    count = count + 1
print(count)

2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [16]:
l5 = [[1,2,3],[4,5,6],[7,8,9]]
def max_element(l5):
  max = l5[0][0]
  for i in l5:
    for j in i:
      if j > max:
        max = j
  return max

max_element(l5)

9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [17]:
l6 = [1,2,3,4,5,6,7,8,9,1]
def remove_element(l6,element):
  for i in l6:
    if i == element:
      l6.remove(i)
  return l6

remove_element(l6,5)

[1, 2, 3, 4, 6, 7, 8, 9, 1]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [18]:
def multiplication_table():
  for i in range(1,6):
    for j in range(1,11):
      print(i,'X',j,'=',i*j,end='')
      print()
    print()


multiplication_table()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [19]:
l7 = [1,2,3,4,5,6,7,8,9]
def fahrenheit_to_celsius(l7):
  for i in range(len(l7)):
    l7[i] = (l7[i] - 32) * 5/9
  return l7

fahrenheit_to_celsius(l7)

[-17.22222222222222,
 -16.666666666666668,
 -16.11111111111111,
 -15.555555555555555,
 -15.0,
 -14.444444444444445,
 -13.88888888888889,
 -13.333333333333334,
 -12.777777777777779]

18. Create a program to print the common elements from two lists using a `for` loop.

In [20]:
l8 = [1,2,3,4,5,6,7,8,9]
l9 = [11,12,13,14,5,16,17,18,9]
def common_elements(l8,l9):
  for i in l8:
    if i in l9:
      print(i)

common_elements(l8,l9)

5
9


19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [21]:
def pattern(n):
  for i in range(1,n+1):
    for j in range(1,i+1):
      print('*',end='')
    print()

pattern(5)

*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [22]:
def gcd(a,b):
  if a < b:
    smaller = a
  else:
    smaller = b

  for i in range(1,smaller+1):
    if a % i == 0 and b % i == 0:
      gcd = i
  return gcd

gcd(10,15)

5

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [23]:
def prime_factors(n):
  factors = []
  for i in range(2,n+1):
    while n % i == 0:
      factors.append(i)
      n = n // i
  return factors

prime_factors(56)

[2, 2, 2, 7]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [24]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique_lst = [x for i, x in enumerate(lst) if x not in lst[:i]]
print(unique_lst)

[1, 2, 3, 4, 5]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [25]:
limit = 200
palindromes = [n for n in range(1, limit+1) if str(n) == str(n)[::-1]]
print(palindromes)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

25. Write a program to flatten a nested list using list comprehension.

In [26]:
nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [27]:
squares_of_odd_numbers = [x**2 for x in range(1, 11) if x % 2 != 0]
print(squares_of_odd_numbers)

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [28]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [29]:
string = "Hello World"
vowels = [char for char in string if char.lower() in 'aeiou']
print(vowels)

['e', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [30]:
strings = ['abc123', 'def456', 'ghi789']
numeric_strings = [''.join([char for char in s if char.isdigit()]) for s in strings]
print(numeric_strings)

['123', '456', '789']

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [31]:
limit = 20
pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]
print(pythagorean_triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [32]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combinations = [(x, y) for x in list1 for y in list2]
print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]


34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [33]:
from statistics import mean, median, mode

numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9]
mean_value = mean([x for x in numbers])
median_value = median([x for x in numbers])
mode_value = mode([x for x in numbers])

print(f"Mean: {mean_value}, Median: {median_value}, Mode: {mode_value}")

Mean: 5.363636363636363, Median: 5, Mode: 5

37. Write a program that finds the longest word in a sentence using list comprehension.

In [34]:
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
longest_word = max([word for word in words], key=len)
print(f"Longest word: {longest_word}")

Longest word: quick